@import "tailwindcss";

@theme {
  --color-brand-yellow: #facc15;
  --color-brand-yellow-hover: #fde047;
  --color-brand-navy: #0b132b;
  --color-brand-navy-light: #1c2541;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
